In [12]:
import pandas
from geopy.geocoders import Nominatim

In [7]:
df = pandas.read_json("supermarkets.json")

In [10]:
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]

In [11]:
df

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114

In [15]:
nom = Nominatim(user_agent = "http")

In [17]:
df["Coordinates"] = df["Address"].apply(nom.geocode)

In [18]:
df

,Address,City,Country,Employees,ID,Name,State,Coordinates
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,..."
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor..."